<!-- Toolbar -->
<div class="toolbar-space"></div>

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />

  <div>
    <ul class="category-list">
<!--      <li>-->
<!--        <a routerLink="/list" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">全部</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/list" [queryParams]="{ category: category[0] }" routerLinkActive="active">电脑</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/list" [queryParams]="{ category: category[1] }" routerLinkActive="active">家具</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/list" [queryParams]="{ category: category[2] }" routerLinkActive="active">图书</a>-->
<!--      </li>-->
      <li *ngFor="let item of menu; let i = index;">
        <a
          routerLink="/list"
          [queryParams]="item.type ? { category: item.type } : undefined"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>

